# Dependencies
node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# Testing
coverage

# Production
/build
/dist

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.npm
.eslintcache

# Lambda deployment packages
lambda-function.zip

# Temporary files
/tmp
**/tmp 